/.gradle/
/.idea/*.xml
/.idea/caches/
/.idea/dictionaries/
/.idea/libraries/
/captures/
/local.properties
.DS_Store
.cxx/
Thumbs.db
build/
*.aab
*.apk
*.idsig
*.class
*.dex
*.iml
*.jks
gradlew.bat
maint/
